.phonepe{
  background-color: #6c37a7;
  border-radius: 20px;
  border-color: #6c37a7;
  color: #ffffff;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 2%;
  padding-bottom: 2%;
  box-shadow: none;
  border-style: solid;
  font-weight: bold;
}
